# Gian's Cafe Backend

node_modules/
dist/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads & temporary files
uploads/
tmp/
temp/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.sw?

